* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
min-height: 100vh !important;
}

header a {
    color: #ffc107 !important;
}

.nav-link.active {
    background-color: rgb(48, 0, 0) !important;
    border-color: #5c5c5c !important;
}

.nav-tabs {
    border-color: #8a8a8a !important
}

footer a {
    text-decoration: none;
    padding: 5px;
    color: #ffc107;
}

main {
    background-image: url("../assets/images/fondo\ 2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main section {
    background-color: rgba(0, 0, 0, 0.6);
}

/* ****pequeños arreglos***** */
/* ******index********* */
#main_index img {
    padding: 10px;
}

#main_index iframe {
    padding: 10px;
}

/* ******historia******** */
#main_historia img {
    padding: 10px;
}
/* ******Discografia****** */
#main_discografia section {
    padding: 30px;
}

table td{
    padding: 15px !important; 
}
/* ****Contactos****** */
#sectform button {
    color: #ffc107;
    background-color: rgb(48, 0, 0);
    border-color: #5c5c5c;
}
/* *******media queries de bootstrap son--> valor mayor a 575px ************/
