* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  min-height: 100vh !important;
  padding: 15px !important;
  background-image: url("../assets/images/fondo 2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

footer section div a {
  text-decoration: none;
  padding: 5px;
}

header nav .nav-link.active {
  background-color: rgb(48, 0, 0) !important;
  border-color: #5c5c5c !important;
}
header nav .nav-tabs {
  border-color: #8a8a8a !important;
}
header nav ul li a {
  color: #ffc107 !important;
}

main section {
  background-color: rgba(0, 0, 0, 0.6);
}

footer section div a {
  color: #ffc107;
}

#main_index section div iframe {
  padding: 10px;
}
#main_index section div img {
  padding: 10px;
}

#main_historia section div img {
  padding: 10px;
}

#main_discografia section {
  padding: 30px;
}

#main_eventos section table thead tr td {
  padding: 15px !important;
}

#sectform form button {
  color: #ffc107;
  background-color: rgb(48, 0, 0);
  border-color: #5c5c5c;
}