* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **************Clases que se repiten en todos los html*********** */
body {
    height: auto;
    width: 100%;
    background-image: url("../assets/images/Fondo.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

nav ul {
    display: flex;
    margin-bottom: 20px;
}

li a {
    text-decoration: none;
    color: #e5d6c2;
    padding: 7px;
    background-color: #1d1d1b;
    margin-left: 10px;
    border-radius: 10px;
}

#estilo_titulo_principal {
    color: #1d1d1b;
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 500;
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
}

.fondo_header {
    background-color: #e5d6c2;
    display: flex;
    flex-direction: column;
}

.estilo_texto_2 {
    color: #1d1d1b;
    font-family: 'Anek Telugu', sans-serif;

}

.contactos_footer {
    text-decoration: none;
    color: #1d1d1b;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px;
}

.fondo_footer {
    background-color: #e5d6c2;
    display: flex;
}

footer a {
    text-decoration: none;
    color: #1d1d1b;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px;
}

footer h3 {
    color: #1d1d1b;
    font-family: 'Anek Telugu', sans-serif;
    text-decoration: underline;
    margin-top: 25px;
}

/* ******************************************************* */
/* *****************Grilla index************************** */
#estructura_grilla_index {
    display: grid;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}

#header_index {
    grid-area: header;

}

#footer_index {
    grid-area: footer;
}

#main_index {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "sectind1 sectind3"
        "sectind4 sectind2";
}


/* ********************elementos del main******************** */
#section_index_1 {
    grid-area: sectind1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#section_index_1 div p {
    border: 5px solid #e5d6c2;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

#section_index_2 {
    grid-area: sectind2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_index_2 div p {
    border: 5px solid #e5d6c2;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);

}

#section_index_3 {
    grid-area: sectind3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_index_3 div {
    padding: 30px;
}

#section_index_4 {
    grid-area: sectind4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_index_4 div {
    padding: 30px;
}

/* ************************Media queries mobile Index***************************/
@media only screen and (max-width: 768px) {
    #estructura_grilla_index {
        grid-template-rows: 0.1fr 3fr 3fr 0.1fr;
    }

    #main_index {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "sectind1"
            "sectind3"
            "sectind2"
            "sectind4";
    }

    nav ul {
        margin-top: 50px;
        justify-content: space-around;
    }

    #section_index_3 div iframe {
        width: 700px;
        height: 350px;
    }

    #section_index_3 {
        justify-content: start;
        align-items: flex-start;
    }

    #section_index_3 div {
        padding: 10px;
    }

    #section_index_4 div img {

        display: flex;
        justify-content: start;
        align-items: flex-start;
        width: 60vh;

    }
}

@media only screen and (max-width: 480px) {
    #main_index {
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    }

    #section_index_3 div iframe {
        height: 300px;
        width: 440px;
    }

    #section_index_4 div img {
        max-height: 100%;
        max-width: 100%;
    }

    #section_index_4 div {
        padding: 5px;
    }
}

/* ****************************************************************** */
/* *****************Grilla Historia************************** */
#estructura_grilla_historia {
    display: grid;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "headerhistoria headerhistoria headerhistoria"
        "mainhistoria mainhistoria mainhistoria"
        "mainhistoria mainhistoria mainhistoria"
        "footerhistoria footerhistoria footerhistoria";
}

#header_historia {
    grid-area: headerhistoria;

}

#footer_historia {
    grid-area: footerhistoria;
}


#main_historia {
    grid-area: mainhistoria;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "secttex1 sectimg1"
        "secttex2 sectimg2"
        "sectteximg3 sectteximg4";
}

/* ***********elementos main Historia********** */
#section_texto_1 {
    grid-area: secttex1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_texto_1 div {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

#section_img_1 {
    grid-area: sectimg1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_img_1 div img {
    padding: 10px 10px 10px 10px;
}

#section_texto_2 {
    grid-area: secttex2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_texto_2 div {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

#section_img_2 {
    grid-area: sectimg2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_img_2 div img {
    padding: 10px 10px 10px 10px;
}

#section_tex_img_3 {
    grid-area: sectteximg3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#texto3 {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

#section_tex_img_3 div img {
    padding: 10px 10px 10px 10px;
}

#section_tex_img_4 {
    grid-area: sectteximg4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#texto4 {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

#section_tex_img_4 div img {
    padding: 10px 10px 10px 10px;
}


/* ************************************************ */

/* **********************Media queries mobile Historia*********************** */
@media only screen and (max-width: 768px) {
    #estructura_grilla_historia {
        grid-template-rows: 0.1fr 3fr 3fr 0.1fr;
    }

    #main_historia {
        grid-template-rows: repeat(4, 1fr) repeat(2, 2fr);
        grid-template-columns: 1fr;
        grid-template-areas: "secttex1"
            "sectimg1"
            "secttex2"
            "sectimg2"
            "sectteximg3"
            "sectteximg4";
    }

    nav ul {
        margin-top: 50px;
        justify-content: space-around;
    }

    #section_tex_img_3 {
        flex-direction: column;
    }

    #section_tex_img_4 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    #main_historia {
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    #main_historia section div img {
        max-height: 100%;
        max-width: 100%;
    }
}

/* *********************Grilla Discografia********************** */
#estructura_grilla_discografia {
    display: grid;
    grid-template-rows: 0.3fr 3fr 3fr 0.3fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}

#header_discografia {
    grid-area: header;
}

#footer_discografia {
    grid-area: footer;
}


#main_discografia {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "divalb1 ullist1 divvid1"
        "divalb2 ullist2 divvid2"
        "divalb3 ullist3 divvid3"
        "divalb4 ullist4 divvid4"
        "divalb5 ullist5 divvid5"
        "divalb6 ullist6 divvid6"
        "divalb7 ullist7 divvid7";
}

/* ******************elementos grilla main discografia********* */

/* ********portadas album******** */
#div_album_1 {
    grid-area: divalb1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}

#div_album_2 {
    grid-area: divalb2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}

#div_album_3 {
    grid-area: divalb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}

#div_album_4 {
    grid-area: divalb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}

#div_album_5 {
    grid-area: divalb5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}

#div_album_6 {
    grid-area: divalb6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}

#div_album_7 {
    grid-area: divalb7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5d6c2;
    font-family: 'Anek Telugu', sans-serif;
}


/* *********song list******** */
#ul_lista_1 {
    grid-area: ullist1;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#ul_lista_2 {
    grid-area: ullist2;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#ul_lista_3 {
    grid-area: ullist3;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#ul_lista_4 {
    grid-area: ullist4;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#ul_lista_5 {
    grid-area: ullist5;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#ul_lista_6 {
    grid-area: ullist6;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#ul_lista_7 {
    grid-area: ullist7;
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/* ******************videos****************/
#div_video_1 {
    grid-area: divvid1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_video_2 {
    grid-area: divvid2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_video_3 {
    grid-area: divvid3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_video_4 {
    grid-area: divvid4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_video_5 {
    grid-area: divvid5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_video_6 {
    grid-area: divvid6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_video_7 {
    grid-area: divvid7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ********************media queries mobile dicografia************** */
@media only screen and (max-width: 768px) {
    #estructura_grilla_discografia {
        grid-template-rows: 0.1fr 3fr 3fr 0.1fr;
    }

    #main_discografia {
        grid-template-rows: repeat(14, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "divalb1"
            "ullist1"
            "divvid1"
            "divalb2"
            "ullist2"
            "divvid2"
            "divalb3"
            "ullist3"
            "divvid3"
            "divalb4"
            "ullist4"
            "divvid4"
            "divalb5"
            "ullist5"
            "divvid5"
            "divalb6"
            "ullist6"
            "divvid6"
            "divalb7"
            "ullist7"
            "divvid7";
    }
}

@media only screen and (max-width: 480px) {
    #main_discografia div iframe {
        width: 400px;
        height: 215px;
        margin: 20px;
    }
}

/* ************************************************ */
/* ******************Grilla Eventos******************* */
#estructura_grilla_eventos {
    display: grid;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}

#header_eventos {
    grid-area: header;

}

#footer_eventos {
    grid-area: footer;
}

#main_eventos {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "secttabla"
}

/* ***************Elementos grilla Main Eventos*******************/
#secttabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secttabla table {
    font-family: 'Anek Telugu', sans-serif;
    color: #e5d6c2;
    background-color: rgba(0, 0, 0, 0.8);
    border-spacing: 40px;
    border: solid #e5d6c2;
    margin: 50px;
    text-align: center;
}

#titulo_tabla {
    font-size: 2rem;
    text-decoration: underline;
}

#primer_fila_titulos {
    font-size: 2rem;
    text-decoration: underline;
}

/* ********************************************************** */
/* ********************media queries mobile eventos************** */
@media only screen and (max-width: 768px) {
    #secttabla table {
        font-size: 1.2rem;
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #secttabla table {
        font-size: 1.2rem;
        margin: 10px;
        border-spacing: 25px;
    }
}

/* ******************************************************** */
/* ******************grilla Contactos********************** */
#estructura_grilla_contactos {
    display: grid;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}

#header_contactos {
    grid-area: header;

}

#footer_contactos {
    grid-area: footer;
}

#main_contactos {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "sectform"
}

/* ****************elementos grilla main contactos************* */
#sectform {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#sectform fieldset {
    padding: 5px;
    margin: 5px;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.5rem;
    color: #e5d6c2;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

#sectform fieldset form div {
    margin-bottom: 15px;
}

/* *****************************************************************
/* ********************media queries mobile eventos************** */
@media only screen and (max-width: 768px) {
    #sectform fieldset {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 480px) {
    #estructura_grilla_eventos {
        grid-template-rows: 0.1fr 3fr 3fr 0.1fr;
    }
}