@import "./variables";
// *****mixin******
* {
    @include reset_body;
}

// *****map-get******
main {
    min-height: map-get($estilo_fondo, min-height) !important;
    padding: map-get($estilo_fondo, padding) !important;
    background-image: url("../assets/images/fondo\ 2.jpg");
    background-attachment: map-get($estilo_fondo, background-attachment);
    background-size: map-get($estilo_fondo, background-size);
    background-position: map-get($estilo_fondo, background-position);
}

footer {
    section {
        div {
            a {
                text-decoration: none;
                padding: $padd-5;
            }
        }
    }
}