@import "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh !important;
    padding: $padd-15 !important;
    background-image: url("../assets/images/fondo\ 2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
footer {
    section {
        div {
            a {
                text-decoration: none;
                padding: $padd-5;
            }
        }
    }
}