#main_index {

    section {
        padding-bottom: $padd-45;

        div {
            img {
                padding-bottom: $padd-10;
            }
        }
    }
}

.carousel-inner {
    max-height: 720px;
}

.bg-secondary {
    background-color: $bordo-nav-back !important;
}