#main_index {
    section {
        div {
            iframe {
                padding: $padd-10;
            }
        }
    }

    section {
        div {
            img {
                padding: $padd-10;
            }
        }
    }
}

.carousel-inner {
    max-height: 720px;
}