#main_index {

    section {
        padding-bottom: $padd-15;

        div {
            img {
                padding-bottom: $padd-10;
            }
        }
    }
}

.carousel-inner {
    max-height: 720px;
}